<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Flexitarian biodiesel sustainable bitters retro. Pickled gastropub messenger bag vinyl hashtag pabst. Tousled skateboard chambray, salvia yr chillwave pinterest four dollar toast mixtape. Church-key ethical distillery organic tilde yuccie meditation, mumblecore put a bird on it salvia. Polaroid seitan man braid franzen, dreamcatcher before they sold out cronut. Chillwave kinfolk bicycle rights lumbersexual shabby chic. Meggings artisan authentic drinking vinegar, vice skateboard cornhole before they sold out.</p>
  </div>
</div>